{{ template "base" .}}
{{ define "content" }}
    <h1> This is the About Page</h1>
    <p> Welcome to the about page of our site. </p>
    <p> This is a simple web application that demonstrates how to use the Go programming language to build web applications. </p>

    <p>This came from the template: {{ index .StringMap "test" }}</p>
<p>
    {{ if ne (index .StringMap "remote_ip") "" }}
        Your IP address is {{ index .StringMap "remote_ip" }}
    {{ else }}
        Your IP address is unknown. Visit <a href="/">Home Page</a>
    {{ end }}
</p>

{{ end }}
