{{ template "base" .}}
{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">

            <h1 class="text text-danger">This is the Home Page</h1>
            <p> Welcome to the home page of our site. </p>
        </div>
    </div>
</div>
{{ end }}